body{
    text-align: center;
}

h1{
    color: antiquewhite;
    background-color: rgb(35, 35, 35);
    padding:20px;
    margin-bottom:100px ;
    font-family:'Times New Roman', Times, serif;
    font-size: 50px;
}

.wrapper{
    display: flex;
    justify-content: center;
}

.calculator{
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: black;

}

.result{
    border:1px solid white;
    height: 60px;
    text-align: end;
    font-size: 50px;
    margin-bottom: 10px;
    color: greenyellow;
    background-color: rgb(67, 67, 67);
}

.buttons{
    display: flex;
    flex-direction: column;
}

.btn,.func{
    font-size: 30px;
    font-weight: 900;
    margin: 3px;
    height: 70px;
    width: 70px;
    background-color: rgb(192, 192, 192);
}

#b0{
    width: 151px;
}

.func, #percent{
    background-color: rgb(233, 151, 0);
}